.parent-div {
  border: 2px solid red;
  height: 120px;
  display: ;
}
.child-div {
  border: 2px solid blue;
  width: 100%;
  height: inherit;
  /* align-self: center; */
  
}
.label-div {
  border: 2px solid violet;
}
select-div {
  border: 2px solid green;
}

/* ::ng-deep .mat-form-field-flex > .mat-form-field-infix { 
  padding: 0em 0px; 
  padding: 0px;
  border: 2px solid black;
}
::ng-deep .mat-form-field-flex {
  border: 2px solid hotpink;
  margin-top: -1%;
} */